{% extends '@App/layout.html.twig' %}

{% block title %}Error {% endblock %}
{% block body %}
    <div class="alert alert-danger">
        Ooops! Something went wrong!!!
    </div>
{% endblock %}

{% block stylesheets %} {% endblock %}
