{% extends '@App/layout.html.twig' %}

{% block title %}Error 404{% endblock %}
{% block body %}
    <div class="alert alert-danger">
        Ooops! Error 404. Page not found!
    </div>
{% endblock %}

{% block stylesheets %} {% endblock %}
